{%extends "basis_tmplt.html"%}

{%block title%}404 - Seite nicht gefunden!{%endblock%}

{%block body%}
<div class="w-full min-h-full flex justify-center">
    <div class="bg-grau-hell px-28 py-20 m-5 flex flex-col justify-center items-center">
        <h1 class="text-9xl text-rot mb-5">404</h1>
        <p class="text-2xl mb-10">Seite nicht gefunden!</p>
        <a type="button"
            href="{{url_for('index')}}"
            class="text-center content-center h-12 w-36 rounded-xl bg-black text-white hover:bg-rot ring-rot/50 hover:ring-8 hover:text-black active:bg-red-800 active:text-white active:duration-100 active:ease-out transition-all duration-300 text-nowrap">Go
            Zurück</a>
    </div>
    {% endblock %}