{%extends "user_dashboard.html"%}

{%block title%}Admin User Details{%endblock%}

{%block navleft%}
<h2 class="my-auto text-2xl">ADMIN - Details: {{user.Firstname}} {{user.Name}}</h2>
{%endblock%}

{%block body%}
<div class="flex w-full justify-start content-center mb-4">
    <a href="{{url_for('admin',AID=AID)}}" class="w-36 h-10">
        <div class="bg-grau border-grau-dunkel border-[1px] rounded-lg text-center content-center text-black hover:ring-4 hover:bg-blau hover:text-black hover:border-blau ring-blau/50 transition-all duration-400" >Zurück</div>
    </a>
<div class="flex justify-end w-full">
    <button disabled id="newPwd" class="mx-5 h-12 w-36 rounded-xl bg-grau-dunkel text-black/50 hover:text-black/25 text-nowrap text-center  ">New Password</button>
    <button id="deluser" class="ml-5 h-12 w-36 rounded-xl bg-rot text-white hover:ring-4 ring-rot/50 duration-400 transition-all text-nowrap text-center">Benutzer löschen</button>
</div>
</div>

<div id="newModal" class="fixed hidden content-center backdrop-blur-sm backdrop-brightness-50 w-full h-full top-0 left-0">
    <div class="flex flex-col justify-center content-center m-auto w-96 min-h-64 border-rot border-[1.5px] rounded-lg bg-white p-6">
        <h1 class="font-semibold text-2xl mb-4">User löschen</h1>
        <div class="italic mb-1">
            <p>
                Um den Benutzer zu löschen, wiederhole die UserID um den Vorgang zu bestätigen!
            </p>
        </div>
        <form method="post">
            <div>
                <input class="w-full h-10 mb-6 mt-1 px-2 border-grau border-[1px] rounded-lg" type="text" id="uid" name="uid" placeholder="{{user.UID}}" required>
                <button id="delete_user" value="delete" class="bg-rot border-rot/50 w-full h-10 mb-4 border-[1px] rounded-lg text-white hover:ring-4 ring-rot/50 transition-all duration-400" type="submit">Löschen</button>
                <a id="close">
                    <div class="bg-grau border-grau-dunkel w-full h-10 border-[1px] rounded-lg text-center content-center text-black hover:ring-4 hover:bg-blau hover:text-black hover:border-blau ring-blau/50 transition-all duration-400" >Abbrechen </div>
                </a>
                <p class="text-rot text-center mt-1">{{error}}</p>
            </div>
        </form>
    </div>
</div>
{{super()}} 
{%endblock%}

{%block scripts%}
<script>
    let modal = document.getElementById("newModal")
    let del = document.getElementById("deluser")
    let exit = document.getElementById("close")

    del.onclick = function() {
        modal.classList.add("absolute")
        modal.classList.remove("hidden")
    }

    exit.onclick = function() {
        modal.classList.add("hidden")
        modal.classList.remove("absolute")
    }

</script>
{{super()}}
{%endblock%}
