<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%block title%}{%endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    </head>
    <body class="">
        <nav class="flex justify-center content-center bg-neutral-100 h-32">
            <div class="flex justify-star content-center  my-6 md:mx-24 mx-4  w-3/4">
                <img src="{{url_for('static', filename='images/logo.jpg')}}" class="aspect-square h-full mr-16">
                {%block navleft%}
                {%endblock%}
            </div>
            <div class="flex justify-end content-center  my-6 md:mx-32 mx-4  w-1/4">
                {%block navright%}
                {%endblock%}
            </div>
        </nav>
    <div class="md:mx-40 mx-4 md:my-16 my-8">
        {%block body%}
        {%endblock%}
    </div>
    {%block scripts%}
    {%endblock%}
    <script src="" async defer></script>
</body>

</html>

