{%extends "basis_tmplt.html"%}
{% from "user_nav.html" import nav_r, nav_l%}
{% from "widgets.html" import page_selector %}

{%block title%}USERNAME Zeiterfassung{%endblock%}

{%block navleft%}
<h2 class="my-auto text-2xl">ADMIN Neue Klasse</h2>
{%endblock%}

{%block navright%}
{{nav_r()}}
{%endblock%}

{%block body%}
<div class="w-full min-h-full flex justify-center">
    <div class="bg-grau-hell px-28 py-20 m-5 flex flex-col justify-center items-center">
        <h1 class="text-3xl mb-5">Neue Klasse anlegen!</h1>
        <form class="bg-white p-6 m-3 w-80 border-grau border-[1.5px] rounded-lg" method="post">
            <div>
                <label for="CA">Name der Klasse</label>
                <input class="w-full h-10 mb-4 mt-1 px-2 border-grau border-[1px] rounded-lg" type="text" id="CA" name="CA" placeholder="Klasse" required>
                <label for="Subject_area">Fachbereich</label>
                <input class="w-full h-10 mb-4 mt-1 px-2 border-grau border-[1px] rounded-lg" type="text" id="Subject_area" name="Subject_area" placeholder="Fachbereich" required>
                <label for="Classroom">Klassenraum</label>
                <input class="w-full h-10 mb-8 mt-1 px-2 border-grau border-[1px] rounded-lg" type="text" id="Classroom" name="Classroom" placeholder="Klassenraum" required>
                <button class="bg-blau border-dunkelblau w-full h-10 mb-4 border-[1px] rounded-lg text-white hover:ring-4 ring-blau/50 transition-all duration-400" type="submit">Erstellen</button>
                <a href="{{url_for('admin',AID=AID)}}">
                    <div class="bg-grau border-grau-dunkel w-full h-10 border-[1px] rounded-lg text-center content-center text-grau-dunkel hover:ring-4 hover:border-rot hover:bg-rot hover:text-black ring-rot/50 transition-all duration-400" >Abbrechen </div>
                </a>
                <p class="text-rot text-center mt-1">{{error}}</p>
            </div>
        </form>
    </div>
</div>
{%endblock%}
{%block scripts%}
<script src="{{url_for('static',filename='js/clock.js')}}"></script>
{%endblock%}