{%extends "basis_tmplt.html"%}
{% from "user_nav.html" import nav_r, nav_l%}

{%block title%}USERNAME Zeiterfassung{%endblock%}

{%block navleft%}
    {{nav_l}}
{%endblock%}

{%block navright%}
    {{nav_r}}
{%endblock%}

{%block body%}
<div class="w-full select-none">
    <div id="Userdata" class="flex flex-col mb-10 justify-cente items-center text-4xl">
        {% if user.Picture %}
        <img src="{{user.Picture}}" class="h-20 md:h-32 aspect-square mb-6 border-black rounded-full border-4">
        {% else %}
        <img src="{{url_for('static', filename='images/placeholder_user.svg')}}" class="h-20 md:h-32 aspect-square mb-6 border-black rounded-full border-4">
        {% endif %}
        <p>Hello {{user.Name}}, {{user.Firstname}}</p>
    </div>
    <!-- Timer for Current logged in Time NOT WORKING YET 

    !!! NEEDS API !!!
    <div id="timedisplay" class="flex justify-center items-center">
        <p id="cloclcounter" class="text-7xl sm:text-8xl md:text-9xl my-10 md:my-20 text-black drop-shadow-lg">00:00:00</p>
    </div>
    -->
    <form id="buttons" class="flex justify-center items-center" method="post">
        <button id="in" name="login" value="time_in"
            {% if in_state %}
            class="mx-5 h-12 w-36 rounded-xl bg-grau-dunkel text-black hover:text-black/25 text-nowrap" 
            {% else %}
            class="mx-5 h-12 w-36 rounded-xl bg-black text-white hover:bg-green-600 ring-green-600/50 hover:ring-8 hover:text-black active:bg-green-800 active:text-white active:duration-100 active:ease-out transition-all duration-300 text-nowrap" 
            {% endif %}
            {{in_state}}>Einstempeln</button>
        <button id="out" name="logout" value="time_out"
            {% if out_state %}
            class="mx-5 h-12 w-36 rounded-xl bg-grau-dunkel text-black hover:text-black/25 text-nowrap" 
            {% else %}
            class="mx-5 h-12 w-36 rounded-xl bg-black text-white hover:bg-rot ring-rot/50 hover:ring-8 hover:text-black active:bg-red-800 active:text-white active:duration-100 active:ease-out transition-all duration-300 text-nowrap" 
            {% endif %}
            {{out_state}}>Ausstempeln</button>
    </form>
    <div id="infofield" class="min-h-60 w-2/3 min-w-80 sm:min-w-[30rem] max-w-3xl mx-auto my-10 rounded-xl bg-gray-300">
        <div id="contentwrapper" class="p-5">
            <p class="text-2xl text-black mb-5">Informationen:</p>
            {% if logins or logouts%}
                {% if logins %}
                    <p class="text-black">Last Login: {{logins[-1].Time.strftime('%d.%m.%Y at %H:%M:%S')}}</p>
                {% else %}
                    <p></p>
                {% endif %}
                {% if logouts %}
                    <p class="text-black">Last Logout: {{logouts[-1].Time.strftime('%d.%m.%Y at %H:%M:%S')}}</p>
                {% else %}
                    <p></p>
                {% endif %}
            {% else %}
            <p class="text-black ml-5">You have never been logged in!</p>
            {% endif %}
        </div>
    </div>
</div>
{%endblock%}

{%block scripts%}
<script src="{{url_for('static', filename='js/clock.js')}}"></script>
{%endblock%}